<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodow Emulator</title>
    <link rel="stylesheet" href="/static/stylesheets/play.css">
    <script>
        if (CSS && 'paintWorklet' in CSS) CSS.paintWorklet.addModule('https://unpkg.com/smooth-corners')
    </script>

</head>

<body>
    <span id="circle"></span>
    <!-- <img src="/static/images/stars.svg" alt="" srcset="" id="bg_stars"> -->
</body>
<script src="/scripts/play.js"></script>
</html>